<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
            <p>Sorry, an error has occured, Requested page not found!</p>
            <p>Use your browsers Back button to navigate to</p>
            <p>the page you have prevously come from or:</p>
        </div>
        <div class="error-actions">
            <a routerLink="" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-home"></span>
              Take Me Home 
            </a>
        </div>
      </div>
    </div>
  </div>
</div>