<h1>Users</h1>
<a routerLink="new" class="btn btn-default" id="add-user">Add User</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a [routerLink]="['/users', user.id]"><i class="glyphicon glyphicon-edit"></i></a>
      </td>
      <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>
  </tbody>
</table>