<h1>{{ title }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>User</legend>
    <div class="form-group" >
      <label for="name">Name</label>
      <input [(ngModel)]="user.name" formControlName="name" type="text" class="form-control">
      <div *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
        <div *ngIf="!form.controls['name'].valid" class="alert alert-danger">
          Name is required - minimum 3 characters, maximum 30 characters.
        </div>
      </div>
    </div>

     <div class="form-group" >
      <label for="email">Email</label>
      <input [(ngModel)]="user.email" formControlName="email"  type="email" class="form-control">
      <div *ngIf="form.controls['email'].touched && !form.controls['email'].valid" class="alert alert-danger">
        Please provide a valid email.
      </div>
    </div>

     <div class="form-group" >
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" formControlName="username" type="text" class="form-control">
      <div *ngIf="form.controls['username'].touched && !form.controls['username'].valid" class="alert alert-danger">
        Username is required - minimum 1 characteruih, maximum 15 characters.
      </div>
    </div>
  </fieldset>

  <fieldset formGroupName="address">
    <legend>Address</legend>
    <div class="form-group">
      <label for="street">Street</label>
      <input [(ngModel)]="user.address.street" formControlName="street" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="suite">Suite</label>
      <input [(ngModel)]="user.address.suite" formControlName="suite" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="user.address.city" formControlName="city" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="zipcode">ZipCode</label>
      <input [(ngModel)]="user.address.zipcode" formControlName="zipcode" type="text" class="form-control">
    </div>
  </fieldset>

  <button class="btn btn-default" type="submit" [disabled]="!form.valid">Submit</button>
</form>