/* You can add global styles to this file, and also import other style files */
html,
body,
.navbar, 
.table {
	font-size: 16px;
}

.btn,
input.form-control,
.alert,
.panel,
.panel-heading {
	border-radius: 4px;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group-item:last-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ng-invalid:not(form)  {
  border-left: 3px solid #d9534f;
}

.alert {
	padding: 10px;
}