<div class="jumbotron">
    <h1>Angular 2 CRUD application</h1>
    <p>
        This is an Angular 2 application that has many features  
        you find in a lot of real world applications.
    </p>
    <p>
        <a class="btn btn-info btn-lg" routerLink="users" role="button">Users</a>
        <a class="btn btn-info btn-lg" routerLink="posts" role="button">Posts</a>
    </p>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Features</h3>
        <ul>
            <li>Single page application (SPA) with routing.</li>
            <li>
                CRUD operations against a backend Fake Online REST API for Testing
                 and Prototyping - https://jsonplaceholder.typicode.com.
            </li>
            <li>Reactive Extensions and Observables to handle asynchrony</li>
            <li>Form with custom validation and dirty tracking.</li>
            <li>Extracted modules for application optimization.</li>
            <li>Loading content dinamically and use of master - detail views.</li>
            <li>Random pictures for user comments from http://lorempixel.com</li>
            <li>Filtering, pagination, dependency injection and more.</li>
        </ul>
        <h4>Source code: https://github.com/zaimov/angular2-CRUD</h4>
    </div>
</div>
